// ---
- var page= { title: "post-in-pug", date: "2023-01-26 23:37:51", tags: ['pug'] }
// ---

h2 A trial to write a post in pug
p
  | According to
  a(href="https://hexo.io/docs/writing.html") Hexo official document #[i writing]
  | ,  Hexo supports #[i pug] as a post-formatting language.
p= "To use pug, change the extension of a post file as <'.pug'> from '.md'."
